body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    border: solid red 1px;
    justify-content:baseline;
    height: 800px;
    width: 800px;
    align-items: center;
}

.grid-item{
    border: 0.5px solid black;
}

.new-sketch-btn{
    margin: 15px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 4.5px;
    height: 35px;
}