.container{
    display: flex;
    flex-direction: row;
    border: solid red 1px;
    padding: 10px;
    justify-content:baseline;
}

.grid-item{
    min-width: 35px;
    min-height: 35px;
    border: 2px solid black;
    margin: 2px;
    border-radius: 4px;
}

.new-sketch-btn{
    margin: 15px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 4.5px;
    height: 35px;
}